@page "/login"
@inject IHttpService _http
@inject ITokenService _token
@inject NavigationManager _nav

<PageTitle>Login</PageTitle>

<div class="col-12 main-div">
	<div class="center col-6">
		<br />
		<br />
		<h1>Login</h1>
		<br />
		<input type="text" @bind-value="Email" class="form-control centered-input" placeholder="Email.." />
		<br />
		<input type="password" @bind-value="Password" class="form-control centered-input" placeholder="Password.." />
		<br />
		<button class="btn btn-primary" @onclick="Login">Login</button>
		<span>&nbsp;&nbsp;</span>
		<a href="/register">Register</a>
		<br />
		<br />
		<span>&nbsp;&nbsp;</span>@Message
	</div>
</div>