@page "/"
@inject IHttpService _http
@inject ITokenService _token
@inject NavigationManager _nav

<PageTitle>Home</PageTitle>

<div class="col-12">
	<div class="content-div">
		<h1>Profile</h1>
		<br/>
		<input type="text" @bind-value="Name" class="form-control form-input" placeholder="Name" />
		<br />
		<input type="text" @bind-value="Email" class="form-control form-input" placeholder="Email" />
		<br />
		<button class="btn btn-primary" @onclick="SaveChanges">Save Changes</button>
		<p class="feedback-label">@ChangesMessage</p>
		<br />
		<br />
		<input type="password" @bind-value="OldPassword" class="form-control form-input" placeholder="Old password" />
		<br />
		<input type="password" @bind-value="NewPassword" class="form-control form-input" placeholder="New password" />
		<br />
		<input type="password" @bind-value="ConfirmNew" class="form-control form-input" placeholder="Confirm new password" />
		<br />
		<button class="btn btn-primary" @onclick="UpdatePassword">Update Password</button>
		<p class="feedback-label">@PasswordMessage</p>
		<br />
		<br />
		<button class="btn btn-danger" @onclick="@(() => _nav.NavigateTo("/deleteAccount"))">Delete Account</button>
	</div>
</div>