@page "/"
@inject IProfileViewModel _viewModel


<div class="col-12">
	<input type="text" @bind-value="_viewModel.Name" class="form-control" placeholder="Name" />
	<br />
	<input type="text" @bind-value="_viewModel.Email" class="form-control" placeholder="Email" />
	<br />
	<button class="btn btn-primary" @onclick="_viewModel.SaveChanges">Save Changes</button>
	<span>&nbsp;&nbsp;</span>@_viewModel.ChangesMessage
	<br />
	<br />
	<br />
	<br />
	<br />
	<input type="password" @bind-value="_viewModel.OldPassword" class="form-control" placeholder="Old password" />
	<br />
	<input type="password" @bind-value="_viewModel.NewPassword" class="form-control" placeholder="New password" />
	<br />
	<input type="password" @bind-value="_viewModel.ConfirmNew" class="form-control" placeholder="Confirm new password" />
	<br />
	<button class="btn btn-primary" @onclick="_viewModel.UpdatePassword">Update Password</button>
	<span>&nbsp;&nbsp;</span>@_viewModel.PasswordMessage 
</div>

@code {
	
}