@inherits LayoutComponentBase
@inject ITokenService _tokenService

<div class="page">
    @if (IsLoggedIn()) {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

            @if (IsLoggedIn()) {
                <span>&nbsp;&nbsp;</span>
                <a href="/login" @onclick="Logout">Logout</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Logout() {
        _tokenService.Jwt = string.Empty;
    }

    private bool IsLoggedIn() {
        return _tokenService.Jwt != string.Empty;
    }
}